Package: com.burritoz.croutons13
Name: croutons13
Version: 1.0.1
Architecture: iphoneos-arm
Description: Brings croutons tweak to iOS 13+
Maintainer: burrit0z
Author: burrit0z
Section: Tweaks
Depends: mobilesubstrate
